.__select_avatar__container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.__select_avatar__overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	transition: 300ms;
	opacity: 1;
}

.__select_avatar {
	--bg-color: #fff;
	--title-color: #303133;
	--close-color: #909399;
	--but-border-color: #828282;
	--text-color: var(--title-color);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: var(--box-width, 420px);
	background-color: var(--bg-color);
	border-radius: 4px;
	padding: 20px;
	transition: 300ms;
	opacity: 1;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.72);
}

.__select_avatar.__dark {
	--bg-color: #1f1f1f;
	--title-color: #e5eaf3;
	border: 1px solid #4c4d4f;
}

.__select_avatar.__top {
	top: var(--box-top, 15%);
}

.__select_avatar:not(.__top) {
	top: 50%;
	transform: translate(-50%, -50%);
}

/* 过渡 */
.__select_avatar-enter.__top,
.__select_avatar-leave-to.__top {
	transform: translate(-50%, -4%);
	opacity: 0;
}

.__select_avatar-enter:not(.__top),
.__select_avatar-leave-to:not(.__top) {
	transform: translate(-50%, -54%);
	opacity: 0;
}

.__select_avatar-enter + .__select_avatar__overlay,
.__select_avatar-leave-to + .__select_avatar__overlay {
	opacity: 0;
}

.__select_avatar__header {
	position: relative;
	padding-bottom: 20px;
}

.__select_avatar__title {
	font-size: 18px;
	color: var(--title-color);
}

.__select_avatar__close {
	position: absolute;
	right: 0;
	top: 0;
}

.__select_avatar__close path {
	fill: var(--close-color);
}

.__select_avatar__close:hover {
	cursor: pointer;
}

.__select_avatar__close:hover path {
	fill: var(--theme-color);
}

.__select_avatar__body {
	width: var(--box-width);
	height: var(--box-width);
	overflow: hidden;
	position: relative;
}

.__select_avatar__body.__grid_background {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC);
}

.__select_avatar__body > img {
	position: absolute;
	display: block;
	user-select: none;
}

.__select_avatar__body > img.__drag {
	cursor: grab;
}

.__select_avatar__body > img:active {
	cursor: grab;
}

.__select_avatar__body > img.__transition {
	transition: 100ms;
}

.__select_avatar__cropper {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.__select_avatar__cropper.top {
	width: var(--box-width);
	height: var(--cropper-size);
	top: 0;
	left: 0;
}

.__select_avatar__cropper.right {
	width: var(--cropper-size);
	height: var(--workspace-size);
	top: var(--cropper-size);
	right: 0;
}

.__select_avatar__cropper.bottom {
	width: var(--box-width);
	height: var(--cropper-size);
	bottom: 0;
	left: 0;
}

.__select_avatar__cropper.left {
	width: var(--cropper-size);
	height: var(--workspace-size);
	top: var(--cropper-size);
	left: 0;
}

.__edgeLine .__select_avatar__cropper::before {
	content: '';
	display: block;
	background-color: var(--theme-color-75);
	position: absolute;
}

.__select_avatar__cropper.top::before {
	bottom: 0;
	left: calc(var(--cropper-size) - 1px);
	height: 1px;
	width: calc(var(--workspace-size) + 2px);
}

.__select_avatar__cropper.right::before {
	top: 0;
	left: 0;
	height: var(--workspace-size);
	width: 1px;
}

.__select_avatar__cropper.bottom::before {
	top: 0;
	left: calc(var(--cropper-size) - 1px);
	height: 1px;
	width: calc(var(--workspace-size) + 2px);
}

.__select_avatar__cropper.left::before {
	top: 0;
	right: 0;
	height: var(--workspace-size);
	width: 1px;
}

.__select_avatar__footer {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

/* 按钮样式 */
.__select_avatar__but {
	margin: 0 0 0 12px;
	border-radius: 4px;
	padding: 8px 15px;
	min-width: 72px;
	font-size: 14px;
	background-color: transparent;
	border: 1px solid var(--but-border-color);
	color: var(--text-color);
}

.__select_avatar__but:hover {
	background-color: var(--theme-color-20);
	border: 1px solid var(--theme-color-50);
	color: var(--theme-color);
}

.__select_avatar__but:active {
	background-color: var(--theme-color-10);
	border: 1px solid var(--theme-color);
}

.__select_avatar__but.__primary {
	background-color: var(--theme-color);
	border: 1px solid var(--theme-color);
	color: #fff;
}

.__select_avatar__but.__primary:hover {
	background-color: var(--theme-color-90);
	border: 1px solid var(--theme-color-10);
}

.__select_avatar__but.__primary:active {
	background-color: var(--theme-color-75);
}
